body{
background-color: rgb(80, 60, 168);
color: rgb(73, 233, 10);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(12, 65, 114);
    font-size:;

}

h2{
    color:aquamarine;
    font-size: 28px;
}


.seccion{
    background-color: rgb(90, 48, 138);
}
#perfil {
    background-color:rgb(103, 77, 165);
    color: black;
}

/* ======================
        ENCABEZADO
 ========================*/
header {
background-color: rgb(90, 48, 138);
color: darkslateblue;
text-align: center;
}
header h1 {
    color: rgb(196, 117, 14);
}

header h2{
    color: rgb(7, 179, 127);
}


/* FORMULARIO */

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #6bcff7;
    border-radius: 6px;
    font-family: inherit;
}

textarea {
    min-height: 50px;
    resize: vertical;
}

button {
    background-color: #c27e19;
    color: rgb(88, 25, 160);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}